h2 {
    color: #5fcffc;
    background-color: rgb(255,255,200);
}

button {
    color: whitesmoke;
    background-color: lightskyblue;
}

p{
   color: olive;
}

/* body{
    background-color: #cc55ee;
    background-color: #c5e;
    background-color: #000000; 
    background-color: #000;
} */